@using PandoraWASM.Theme
@inherits LayoutComponentBase

<MudAppBar Color="Color.Primary" Elevation="1">
    <MudText Typo="Typo.h6" Class="ml-4">Pandora</MudText>
    <MudSpacer />
    <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mr-4">Log In</MudButton>
</MudAppBar>

<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />
<MudPopoverProvider />

<div class="login-layout">
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="d-flex justify-center align-center" Style="min-height: 100vh; background-color: #f5f5f5;">
        @Body
    </MudContainer>
</div>

@code {
    private MudTheme _currentTheme = new PandoraAdminDashboard();
}
